<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="DbTrace-Bridge-FromNSP">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="spring-aop-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-aop/3.1.3.RELEASE/spring-aop-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-aspects-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-aspects/3.1.3.RELEASE/spring-aspects-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-beans-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-beans/3.1.3.RELEASE/spring-beans-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-context-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-context/3.1.3.RELEASE/spring-context-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-core-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-core/3.1.3.RELEASE/spring-core-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-expression-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-expression/3.1.3.RELEASE/spring-expression-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-instrument-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-instrument/3.1.3.RELEASE/spring-instrument-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-jdbc-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-jdbc/3.1.3.RELEASE/spring-jdbc-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-jms-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-jms/3.1.3.RELEASE/spring-jms-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-orm-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-orm/3.1.3.RELEASE/spring-orm-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-tx-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-tx/3.1.3.RELEASE/spring-tx-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-web-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-web/3.1.3.RELEASE/spring-web-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-asm-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-asm/3.1.3.RELEASE/spring-asm-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="aopalliance-1.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/aopalliance/aopalliance/1.0/aopalliance-1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="elsagframework-core-3.1.5.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/elsagdatamat/elsagframework/elsagframework-core/3.1.5/elsagframework-core-3.1.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="elsagframework-dal-3.1.5.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/elsagdatamat/elsagframework/elsagframework-dal/3.1.5/elsagframework-dal-3.1.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dbtrace.bridge.fromnsp-1.17.2.b18-SNAPSHOT.jar" deploy-path="/" handle="module:/resource/dbtrace.bridge.fromnsp/dbtrace.bridge.fromnsp">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dbtrace.bridge.interceptor-1.17.2.b18-SNAPSHOT.jar" deploy-path="/" handle="module:/resource/dbtrace.bridge.interceptor/dbtrace.bridge.interceptor">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dbtrace.bridge.engine-1.17.2.b18-SNAPSHOT.jar" deploy-path="/" handle="module:/resource/dbtrace.bridge.engine/dbtrace.bridge.engine">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dbtrace.bridge.jmsreceiver-1.17.2.b18-SNAPSHOT.jar" deploy-path="/" handle="module:/resource/dbtrace.bridge.jmsreceiver/dbtrace.bridge.jmsreceiver">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dbtrace.bridge.BinSender-1.17.2.b18-SNAPSHOT.jar" deploy-path="/" handle="module:/resource/dbtrace.bridge.BinSender/dbtrace.bridge.BinSender">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="DbTraceBridge-SerialObject-1.17.2.b18-SNAPSHOT.jar" deploy-path="/" handle="module:/resource/DbTraceBridge-SerialObject/DbTraceBridge-SerialObject">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="DbTraceBridge-AptManager-1.17.2.b18-SNAPSHOT.jar" deploy-path="/" handle="module:/resource/DbTraceBridge-AptManager/DbTraceBridge-AptManager">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="TrackDBManager-1.5.8.b4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/elsagdatamat/tt/TrackDBManager/1.5.8.b4/TrackDBManager-1.5.8.b4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="TrackDBDAO-1.5.8.b4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/elsagdatamat/tt/TrackDBDAO/1.5.8.b4/TrackDBDAO-1.5.8.b4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="TrackDBEntities-1.5.8.b4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/elsagdatamat/tt/TrackDBEntities/1.5.8.b4/TrackDBEntities-1.5.8.b4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="TrackDBUtilities-1.5.8.b4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/elsagdatamat/tt/TrackDBUtilities/1.5.8.b4/TrackDBUtilities-1.5.8.b4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-extension-1.0.16.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/elsagdatamat/hibernate-extension/1.0.16/hibernate-extension-1.0.16.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="tracktrace-extension-core-1.6.0.b4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/selexelsag/tracktrace-extension-core/1.6.0.b4/tracktrace-extension-core-1.6.0.b4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="tracktrace-extension-dao-1.6.0.b4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/selexelsag/tracktrace-extension-dao/1.6.0.b4/tracktrace-extension-dao-1.6.0.b4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="tracktrace-extension-objectmodel-1.6.0.b4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/selexelsag/tracktrace-extension-objectmodel/1.6.0.b4/tracktrace-extension-objectmodel-1.6.0.b4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="tracktrace-extension-WSClient-1.6.0.b4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/selexelsag/tracktrace-extension-WSClient/1.6.0.b4/tracktrace-extension-WSClient-1.6.0.b4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-beanutils-1.7.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-beanutils/commons-beanutils/1.7.0/commons-beanutils-1.7.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-io-1.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-io/commons-io/1.4/commons-io-1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="messagetrace.service.interface-0.0.8.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/selexelsag/sc/services/messagetrace.service.interface/0.0.8/messagetrace.service.interface-0.0.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="parameters.service.interface-0.0.8.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/selexelsag/sc/services/parameters.service.interface/0.0.8/parameters.service.interface-0.0.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="concurrent-1.3.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/concurrent/concurrent/1.3.4/concurrent-1.3.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="timewarning-1.0.3.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/selexelsag/timewarning/1.0.3/timewarning-1.0.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="statistic-agent-0.1.7.b1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/selexelsag/statistics/statistic-agent/0.1.7.b1/statistic-agent-0.1.7.b1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="statistic-recorder-0.1.7.b1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/selexelsag/statistics/statistic-recorder/0.1.7.b1/statistic-recorder-0.1.7.b1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="storer-0.1.7.b1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/selexelsag/statistics/storer/0.1.7.b1/storer-0.1.7.b1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="aspectjweaver-1.5.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/aspectj/aspectjweaver/1.5.4/aspectjweaver-1.5.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-math3-3.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/commons/commons-math3/3.2/commons-math3-3.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-context-support-3.1.3.RELEASE.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/springframework/spring-context-support/3.1.3.RELEASE/spring-context-support-3.1.3.RELEASE.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
